body{

background:#0F172A;

color:white;

font-family:Segoe UI;

padding:30px;

}



.container{

max-width:1000px;

margin:auto;

}



input{

width:100%;

padding:15px;

margin:25px 0;

border:none;

border-radius:10px;

background:#1E293B;

color:white;

}



.card{

padding:20px;

margin-bottom:15px;

border-radius:15px;

background:#1E293B;

}