*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#0F172A;
color:#fff;
padding:30px;
min-height:100vh;
overflow-x:hidden;
}

.container{
max-width:1200px;
margin:auto;
}

h1{
font-size:36px;
margin-bottom:25px;
text-align:center;
}

input{
width:100%;
padding:16px;
margin-bottom:25px;
border:none;
outline:none;
border-radius:12px;
background:#1E293B;
color:#fff;
font-size:16px;
}

input::placeholder{
color:#94A3B8;
}

#students{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.student-card{
background:#ffffff;
color:#111827;
padding:22px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
transition:.3s;
}

.student-card:hover{
transform:translateY(-5px);
}

.student-card h3{
font-size:22px;
margin-bottom:12px;
color:#0F172A;
}

.student-card p{
font-size:16px;
line-height:1.7;
color:#475569;
margin-bottom:8px;
}

.student-card b{
color:#111827;
}

@media (max-width:768px){

body{
padding:18px;
}

h1{
font-size:30px;
}

input{
font-size:17px;
padding:15px;
}

#students{
grid-template-columns:1fr;
gap:18px;
}

.student-card{
padding:20px;
}

.student-card h3{
font-size:24px;
}

.student-card p{
font-size:17px;
}

}