*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#0F172A;
color:white;
padding:30px;
}

.container{
max-width:900px;
margin:auto;
}

h1,h2{
margin-bottom:20px;
}

.card{
background:#1E293B;
padding:25px;
border-radius:15px;
margin-bottom:30px;
}

input,
textarea,
button{
width:100%;
padding:14px;
margin-top:15px;
border:none;
border-radius:10px;
font-size:16px;
}

textarea{
height:100px;
resize:none;
}

button{
background:#6C63FF;
color:white;
cursor:pointer;
}

button:hover{
background:#574bff;
}

.request{
background:#1E293B;
padding:18px;
border-radius:12px;
margin-top:15px;
border-left:5px solid #00D9A5;
}

@media(max-width:768px){

body{
padding:15px;
}

.container{
width:100%;
}

}